@import "../../styles/colors.scss";

.inputWrap{
  margin-top: 40px;
  position: relative;
  border-bottom: 2px dashed $disabledColor;

  &::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: $primaryLight;
    position: absolute;
    bottom: -2px; //deixa o elemento colado em baixo (como a borda conta como um elemento externo e ela tem 2px colocamos -2px pra ficar em cima)
    left: 0px;
    transform-origin: 0%; //informa que a animação vai começar da esqueda para direita
    transform: scaleX(0); //informa que a largura dele é zero inicialmente
    transition: transform 500ms ease; // faz a animação
  }

  &:focus-within{ //se esse componente estiver com o foco dentro dele
    border-color: transparent;

    &::after{
      transform: scaleX(1);
    }

    label{
      transform: scale(0.9) translateY(-20px);
    }
  }

  input{
    width: 100%;
    line-height: 24px;
    padding: 0 30px 0 8px;

    //se o input estiver preenchido faça isso (se o placeholder não estiver mostrando)
    //O + server para dizer que é prafazer no componente label
    //como nosso label é o placeholde um hack é colocar um placeholder do input com um espaço 
    &:not(:placeholder-shown) + label {
      transform: scale(0.9) translateY(-20px);
    }

  }

  label {
    position: absolute;
    left: 8px;
    color: $disabledColor;
    cursor: text;
    transform-origin: 0%;
    transform: translateY(0);
    transition: transform 500ms ease;
  }

  .status{
    position: absolute;
    right: 0px;
    font-size: 10px;
    cursor: help;
  }

}